name: CI-CD-Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/flask-ci-cd:latest

    - name: SSH into EC2 and Deploy
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          docker pull ${{ secrets.DOCKERHUB_USERNAME }}/flask-ci-cd:latest
          docker stop flask_app || true
          docker rm flask_app || true
          docker run -d -p 5000:5000 --name flask_app ${{ secrets.DOCKERHUB_USERNAME }}/flask-ci-cd:latest
